@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>We provide you with great exercises, well-defined lessons, <br/> anything else based on your preferences </p>

<p> All you need to do is enjoy learning German</p>
