@model SprungGerman.Models.HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<title> Sprung </title>


<div>

    <h1>@Model.Message</h1>

</div>
<div>

    <h3>Take a leap into German</h3>

    @Html.ActionLink("About", "About")
</div>
