@{
    ViewData["Title"] = "Access denied";
}

<link href="~/css/account.css" rel="stylesheet" />

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Sorry, this resource is not available. 
    <br />
                            You can go back to our home page
    </p>
</header>
